*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #a365b0;
  --color-secondary: #f4e8ec;
  --color-accent: #f6f5fa;
  --color-text: #666064;
  --color-icons: #844f90;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--color-text);
  letter-spacing: 0.6px;
}

h1,
h2,
h3 {
  color: #444849;
  line-height: 1.1;
  font-weight: 500;
  margin-top: 0;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.8rem;
  margin-bottom: 1.8rem;
}

h3 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

p {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3.9rem;
  }

  h2 {
    font-size: 3.1rem;
  }
}

a {
  text-decoration: none;
}

/* Buttons */
.btn {
  display: inline-block;
  font-weight: 600;
  text-wrap: nowrap;
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.btn--primary {
  background: hsla(0, 0%, 100%, 0.9);
  color: var(--color-icons);
  box-shadow: 7px 7px var(--color-icons);
  transition: box-shadow 0.3s, color 0.3s;
}

.btn--primary:hover {
  box-shadow: 0 0 #6d167d;
}

/* Cards */
.card {
  border-radius: 1rem;
  overflow: hidden;
}

.card__image {
  width: 30rem;
  height: 35rem;
  object-fit: cover;
}

.card__body {
  padding: 1.5rem;
  color: #f6f5fa;
  text-align: center;
}

/* Pastry cards */
.card--pastry {
  position: relative;
  background: hsla(290, 32%, 54%, 1);
  margin: 0 auto;
}

.card--pastry__body {
  text-transform: uppercase;
  background: hsla(290, 32%, 54%, 0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Grid */
.grid {
  display: grid;
  gap: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Badge */
.badge {
  padding: 0.2rem 2rem;
  display: inline-block;
  border-radius: 3rem;
  text-wrap: nowrap;
}

.badge--primary {
  background: #f4e8ec;
}

/* Arrow Link */
.arrow-link {
  font-size: 1.9rem;
  text-transform: capitalize;
  color: #cd8adb;
  display: inline-block;
  transition: color 0.3s;
}

.arrow-link__image {
  vertical-align: middle;
  transition: margin-left 0.3s;
}

.arrow-link:hover {
  color: var(--color-icons);
}

.arrow-link:hover .arrow-link__image {
  margin-left: 0.6rem;
}

.arrow-link__image-left {
  transition: margin-right 0.3s;
}

.arrow-link:hover .arrow-link__image-left {
  margin-right: 0.6rem;
}

/* Blocks */
.block {
  text-align: center;
  padding: 3rem 1.5rem;
}

.container {
  max-width: 135rem;
  margin: 0 auto;
}

/* Hero Block */
.block--hero {
  background: url(/images/doughnuts.jpg);
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  font-size: 1.8rem;
}

.block--hero__body h1 {
  color: #f9ddff;
  text-transform: capitalize;
}

.block--hero__container {
  max-width: 100rem;
}

.block--hero__btn {
  margin-top: 3rem;
}

@media screen and (min-width: 765px) {
  .block--hero {
    background: url(/images/doughnuts-cropped.jpg);
    background-size: cover;
    font-size: 2rem;
  }
}

/* Pastries feature block */
.block--pastry {
  background: #f4e8ec;
}

.block--pastry__text {
  margin-bottom: 2rem;
}

.block--pastry .arrow-link {
  margin-top: 2rem;
}

/* Prices Block */
table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 0 10px #c3cbcc;
  padding: 1rem;
  max-width: 75rem;
  margin: 0 auto;
}

th,
td {
  text-transform: capitalize;
  border: 2px solid #c3cbcc;
  padding: 0.5rem;
  text-align: left;
}

th {
  font-size: 2rem;
}

.block--prices {
  background: #fff1f6;
}

.prices__link {
  margin-top: 2rem;
  color: #7b8385;
  text-decoration: underline;
}

.prices__link:hover {
  color: #4b5051;
}

.prices__varieties,
.varieties-list {
  text-align: left;
  max-width: 75rem;
  margin: 2rem auto 0;
}

/* Footer Image */
.block--footer {
  background: #fcedff;
  padding-top: 15rem;
  font-size: 2rem;
}

.block--footer a {
  color: #444849;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__sections {
  display: grid;
  row-gap: 2rem;
  justify-items: center;
}

.footer__image {
  width: 15rem;
  height: 15rem;
}

.footer__location {
  margin-right: 0.5rem;
}

.copyright {
  color: #c3cbcc;
  display: inline-block;
  margin-top: 1.5rem;
}

.socials__icons {
  font-size: 3.5rem;
  margin-right: 1.5rem;
  transition: color 0.3s;
}

.socials__icons:hover {
  color: #cd8adb;
}

.callout-container {
  padding: 0 6rem;
  background: #fff1f6;
}

.callout {
  background: #e8cdee;
  padding: 3rem;
  border-radius: 10px;
  max-width: 750px;
  margin: 0 auto;
  transform: translateY(10rem);
}

.callout h2 {
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
  }
}

.logo {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
}
