*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #a365b0;
  --color-secondary: #f4e8ec;
  --color-accent: #f6f5fa;
  --color-text: #666064;
  --color-icons: #844f90;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--color-text);
  letter-spacing: 0.6px;
}

h1,
h2,
h3 {
  color: var(--color-primary);
  line-height: 1;
  font-weight: 500;
  margin-top: 0;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.8rem;
  margin-bottom: 1.8rem;
}

h3 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

p {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3.9rem;
  }

  h2 {
    font-size: 3.1rem;
  }
}

a {
  text-decoration: none;
}

/* Buttons */
.btn {
  display: inline-block;
  font-weight: 600;
  text-wrap: nowrap;
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.btn--primary {
  border: 2px solid var(--color-primary);
  color: var(--color-icons);
  box-shadow: 7px 7px var(--color-icons);
  transition: box-shadow 0.3s, color 0.3s;
}

.btn--primary:hover {
  box-shadow: 0 0 var(--color-primary);
}

/* Cards */
.card {
  border-radius: 1rem;
  overflow: hidden;
}

.card__image {
  width: 100%;
}

.card__body {
  padding: 1.5rem;
  color: #f6f5fa;
  text-align: center;
}

/* Pastry cards */
.card--pastry {
  position: relative;
  background: hsla(290, 32%, 54%, 1);
}

.card--pastry__body {
  text-transform: uppercase;
  background: hsla(290, 32%, 54%, 0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Features cards */
.card--features {
  box-shadow: 0 0 10px var(--color-secondary);
}

.card--features__body {
  color: #000;
  font-weight: 500;
  text-transform: capitalize;
}

.card--features__tagline {
  margin-bottom: 1rem;
}

/* Grid */
.grid {
  display: grid;
  gap: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Badge */
.badge {
  padding: 0.2rem 2rem;
  display: inline-block;
  border-radius: 3rem;
  text-wrap: nowrap;
}

.badge--primary {
  background: #f4e8ec;
}

/* Arrow Link */
.arrow-link {
  font-size: 1.9rem;
  text-transform: capitalize;
  color: #cd8adb;
  transition: color 0.3s;
}

.arrow-link__image {
  vertical-align: middle;
  transition: margin-left 0.3s;
}

.arrow-link:hover {
  color: var(--color-icons);
}

.arrow-link:hover .arrow-link__image {
  margin-left: 0.6rem;
}

/* Blocks */
.block {
  text-align: center;
  padding: 1.5rem;
  border: 2px solid red;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}
