*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #a365b0;
  --color-secondary: #f4e8ec;
  --color-accent: #f6f5fa;
  --color-text: #666064;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--color-text);
  letter-spacing: 0.6px;
}

h1,
h2,
h3 {
  color: var(--color-primary);
  line-height: 1;
  font-weight: 500;
  margin-top: 0;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.8rem;
  margin-bottom: 1.8rem;
}

h3 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

p {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3.9rem;
  }

  h2 {
    font-size: 3.1rem;
  }
}

/* Buttons */
.btn {
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  text-wrap: nowrap;
  border: 2px solid #333;
  padding: 1rem 3rem;
  color: hsl(233, 26%, 24%);
  text-transform: uppercase;
  letter-spacing: -0.5px;
}
