<div class="block block--hero">
  <div class="container block--hero__container">
    <div class="block--hero__body">
      <h1>Crafting happiness, one pastry at a time</h1>
      <p>
        At Bays Treats, every pastry is crafted with care! From flaky croissants
        to delightful desserts, I use fresh ingredients to create memorable
        flavors. Whether you are celebrating a special occasion or just treating
        yourself, each bite is sure to delight!
      </p>
      <a
        target="_blank"
        class="btn btn--primary block--hero__btn"
        href="https://wa.me/message/7ZVW3SXWL2Y3H1"
        >Reach out to me</a
      >
    </div>
  </div>
</div>
