<div class="block callout-container">
  <div class="callout">
    <h2>Craving Pastries? I've Got You Covered</h2>
    <a
      target="_blank"
      class="btn btn--primary"
      href="https://wa.me/message/7ZVW3SXWL2Y3H1"
      >Message me</a
    >
  </div>
</div>
<footer class="block block--footer">
  <div class="container footer__sections">
    <img class="footer__image" src="images/logo.jpg" alt="" />
    <span><a class="footer__link" href="">contact me</a></span>
    <span><a class="footer__link" href="">instagram</a></span>
    <span
      ><i class="fa-solid fa-location-dot footer__location"></i>minna,
      nigeria</span
    >
    <div class="socials-container">
      <a
        target="_blank"
        href="https://www.instagram.com/bays_treats_/profilecard/?igsh=NHdjYXkwbWY1cWZ1"
      >
        <i class="fa-brands fa-instagram socials__icons"></i
      ></a>
      <a target="_blank" href="https://wa.me/message/7ZVW3SXWL2Y3H1"
        ><i class="fa-brands fa-whatsapp socials__icons"></i
      ></a>
    </div>
  </div>
  <span class="copyright">2022 - 2025 Bays_treat &copy;</span>
</footer>
