<section class="block block--pastry">
  <h2>My works</h2>
  <p class="block--pastry__text">
    Crafted with love and the finest ingredients, each pastry is a little bite
    of joy. Explore my creations...
  </p>
  <div class="grid grid--1x3 container">
    <div class="card card--pastry">
      <img
        class="card__image"
        src="images/cake-parfait.jpg"
        alt="cake parfait"
      />
      <div class="card__body card--pastry__body">
        <p>cake parfait</p>
      </div>
    </div>
    <div class="card card--pastry">
      <img class="card__image" src="images/milk-cake.jpg" alt="milk cake" />
      <div class="card__body card--pastry__body">
        <p>milk cake</p>
      </div>
    </div>
    <div class="card card--pastry">
      <img
        class="card__image"
        src="images/chocolate-cupcake.jpg"
        alt="chocolate-cupcake"
      />
      <div class="card__body card--pastry__body">
        <p>chocolate cupcake</p>
      </div>
    </div>
  </div>
  <a target="_blank" href="pastry-features.html" class="arrow-link">
    see more
    <i class="fa-solid fa-arrow-right arrow-link__image"></i>
  </a>
</section>
