<section class="block block--prices">
  <h2 class="prices__heading">Prices for pastries</h2>
  <table>
    <thead>
      <tr>
        <th>Pastry Name</th>
        <th>Size</th>
        <th>Price (<i class="fa-solid fa-naira-sign"></i>)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>oreo tres leches</td>
        <td>-</td>
        <td>3,500</td>
      </tr>
      <tr>
        <td>hot milk cake</td>
        <td>-</td>
        <td>3,000</td>
      </tr>
      <tr>
        <td>cake parfait</td>
        <td>-</td>
        <td>2,500</td>
      </tr>
      <tr>
        <td>cake loaves</td>
        <td>-</td>
        <td>2,000</td>
      </tr>
      <tr>
        <td>puff puff (a pack)</td>
        <td>-</td>
        <td>1,200</td>
      </tr>
      <tr>
        <td>sponge cake</td>
        <td>-</td>
        <td>3,000</td>
      </tr>
      <tr>
        <td>corndogs (5pcs)</td>
        <td>-</td>
        <td>3,000</td>
      </tr>
      <tr>
        <td>corndogs (10pcs)</td>
        <td>-</td>
        <td>6,000</td>
      </tr>
      <tr>
        <td>chocolate chipped cookies (4)</td>
        <td>-</td>
        <td>5,000</td>
      </tr>
    </tbody>
  </table>
  <a href="cake-prices.html" class="arrow-link prices__link">
    See cake prices here
    <i class="fa-solid fa-arrow-right arrow-link__image"></i>
  </a>
</section>
