<div class="package">
  <header class="package__header">
    <span class="package__title">Suhoor Pack</span>
    <div class="package__prices">
      <div>
        <p style="text-decoration: line-through; font-size: 1.2rem">4500</p>
        <p>4050</p>
      </div>
      <span class="badge badge--primary">10% off</span>
    </div>
    <p class="package__description">Power up your mornings the right way</p>
  </header>
  <div class="package__body">
    <ul class="list">
      <li class="list__item">pancakes (4)</li>
      <li class="list__item">puff puff (10)</li>
    </ul>
  </div>
</div>
